body{
  margin:0;
}
#xxx{
  background:white;
  display: block;
}
.actions{
  position: fixed;
  bottom: 0;
  left: 0;
}
.actions > #brush{
  display: none
}
.actions.x > #brush{
  display: inline-block;
}
.actions.x > #eraser{
  display: none
}
